{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Book<span>Site</span></p>
        </div>
        <div class="search-field">
            <input type="search" name="search-field" id="search-field" placeholder="Search...">
        </div>
        <nav>
            <div class="nav-btn-one">
                <button class = 'liked-books'><i class="fa-regular fa-heart"></i></button>
                <hr class = 'nav-btns-line'>
            </div>
            <div class="nav-btn-two">
                <button class="user"><i class="fa-regular fa-user"></i></button>
                <hr class = 'nav-btns-line'>
            </div>
        </nav>
    </header>
    <hr>
        <section class="book">
            <h2 class="book-category">TOP <span>10</span> BOOKS</h2>
            <button class="pre-btn"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="nxt-btn"><i class="fa-solid fa-chevron-right"></i></button>
            <div class="book-container">
                {% for book in books %}
                <div class="book-card">
                    <div class="book-img">
                        <img src="{{ book.cover_image.url }}" class = "book-thumb" alt="{{ book.title }}">
                        <button class="add-like">Add to liked</button>
                    </div>
                    <div class="book-info">
                        <span class="rating"><i class="fa-solid fa-star"></i>{{ book.rating }}</span>
                        <h2 class="book-title">
                            {{ book.title }} by {{ book.author }}
                        </h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="book">
            <h2 class="book-category">TOP <span>10</span> CRIME BOOKS</h2>
            <button class="pre-btn"><i class="fa-solid fa-chevron-left"></i></button>
            <button class="nxt-btn"><i class="fa-solid fa-chevron-right"></i></button>
            <div class="book-container">
                {% for book in crime_books %}
                <div class="book-card">
                    <div class="book-img">
                        <img src="{{ book.cover_image.url }}" class = "book-thumb" alt="{{ book.title }}">
                        <button class="add-like">Add to liked</button>
                    </div>
                    <div class="book-info">
                        <span class="rating"><i class="fa-solid fa-star"></i>{{ book.rating }}</span>
                        <h2 class="book-title">
                            {{ book.title }} by {{ book.author }}
                        </h2>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    <footer>

    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>