{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Site</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/searched.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'book_list' %}">Book<span>Site</span></a>
        </div>
        <form class="search-field" method=POST action="{% url 'search-results' %}">
            {% csrf_token %}
            <input type="search" id="search-field" placeholder="Search..." name="searched">
            <button class="search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav>
            <div class="nav-btn-one">
                <button class = 'liked-books'><i class="fa-regular fa-heart"></i></button>
                <hr class = 'nav-btns-line'>
            </div>
            <div class="nav-btn-two">
                <button class="user"><i class="fa-regular fa-user"></i></button>
                <hr class = 'nav-btns-line'>
            </div>
        </nav>
    </header>
    <hr>
    <main>
        {% block content %}
            {% if searched %}
                <h1 class="search-results-title">You searched for: "<span class="h1-searched-book">{{ searched }}</span>"</h1>
                <div class="searched-books">
                    {% for book in books_results %}
                    <div class="book-card">
                    <div class="book-info hidden">
                        <button class="close-btn"><i class="fa-solid fa-xmark"></i></button>
                        <div class="book-info-image">
                            <img src="{{ book.cover_image.url }}">
                            <span>Rating: {{ book.rating }}</span>
                        </div>
                        <div class="book-info-container">
                            <h3>{{ book.name }} by {{ book.author }}</h3>
                            <p>{{ book.description }}</p>
                        </div>
                    </div>
                    <div class="book-img">
                        <button class="show-info-btn"><i class="fa-solid fa-info"></i></button>
                        <img src="{{ book.cover_image.url }}" class = "book-thumb" alt="{{ book.title }}">
                        <button class="add-like">Add to liked</button>
                    </div>
                    <h2 class="book-title">
                        {{ book.name }} by {{ book.author }}
                    </h2>
                </div>
                {% endfor %}
                </div>
            {% else %}
                <h1>You forgot to search for a book!</h1>
            {% endif %}
        {% endblock %}
    </main>
    <footer>

    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>